.main {
	background-color: purple;
}

.pink {
	background-color: pink;
}

.blue {
	background-color: lightblue;
}

.overlay-container {
	position: relative; /* <-- Set as the reference for the positioned overlay */
}

.overlay-container .overlay {
	position: absolute; /* <-- Remove the overlay from normal flow         */
	bottom: 0;          /* <-- Keep the overlay at the bottom of the box   */
	left: 0;            /* <-- Set left and right properties to 0          */
	right: 0;           /*     In order to expand the overlay horizontally */

	padding: 0.4rem;
	background-color: rgba(255, 255, 255, 0.7);
}

.meme-text {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'azo-sans-uber',sans-serif; font-size: rem-calc(2);
}

.title-text {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: 'azo-sans-uber',sans-serif; font-size: rem-calc(2);
}
